{% extends "base.html" %}

{% block body %}
	<div id="content">
        <form id="search_form" action="/search" method="post">
            <input name="search_box" id="search_box" type="text" />
            <input name="search_button" id="search_button" type="submit" value="Search"/>
            {% if logged_in %}
            <button name="index_button" id="index_button" type="submit" value="Index" onclick="form.action='/index_website'">
                Index
            </button>
            {% endif %}
        </form>
    </div>


{% endblock %}