{% extends "base.html" %}

{% block body %}

<div id="search">
	<form action="/search" method="POST">
		<input type="text" value="Robbie is awesome..." accept-charset="utf-8">
		<input type="submit" value="Search" accept-charset="utf-8">
	</form>
</div>
	
{% endblock %}